<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title></title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Dream</title>
    <!-- Bootstrap Styles-->


    <link href="/static/programming/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/programming/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/programming/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/programming/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  </head>
  <body style="overflow: auto;">
    <nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Foss@Amrita</a>
    </div>
</nav>
<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/programming/"> Dashboard</a>
            </li>
            <li>
                <a href="/programming/addstudent/">Add Student</a>
            </li>
  <li>
                <a href="/programming/creategroup/">Create Group</a>
            </li>
            <li>
                <a href="/programming/viewgroups/">View Groups</a>
            </li>
            <li>
                <a href="/programming/dailychallenges/">Create DailyChallenges</a>
            </li>
            <li>
                <a href="/programming/searchdailychallenges/">search DailyChallenges</a>
            </li>
            <li>
                <a href="/programming/viewsummary/">View summary</a>
            </li>
        </ul>

    </div>

</nav>
  {% block body %} {% endblock %}
  </body>
</html>
