{% extends 'programming/base.html' %}
{% block body %}


<div id="wrapper">
  <!-- /. NAV SIDE  -->

  <div id="page-wrapper" >
      <div id="page-inner">

           <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            {{user_info.name}}
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green">
                            <div class="panel-body">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                <h3>{{user_info.codechefrating}}</h3>
                            </div>
                            <div class="panel-footer back-footer-green">
                                Codechef

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-blue">
                            <div class="panel-body">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                                <h3>{{user_info.codeforcesrating}}</h3>
                            </div>
                            <div class="panel-footer back-footer-blue">
                                Codeforces

                            </div>
                        </div>
                    </div>

                </div>
      <div class="row">
          <div class="col-md-12">
              <!-- Advanced Tables -->
              <div class="panel panel-default">

                  <div class="panel-heading">
                       Codeforces
                  </div>
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                              <thead>
                                  <tr>
                                      <th>New rating</th>
                                      <th>Contest name</th>
                                      <th>Rank</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for i in codeforcesrank %}

                                  <tr class="odd gradeA">
                                      <td>{{i.newRating}}</td>
                                      <td>{{i.contestName}}</td>
                                      <td>{{i.rank}}</td>

                                  </tr>
                                  {% endfor %}
                          </table>
                        </div>
                      </div>
                      <div class="panel-heading">
                           Codechef
                      </div>
                      <div class="panel-body">
                          <div class="table-responsive">
                              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                  <thead>
                                      <tr>
                                          <th>Rank</th>
                                          <th>Name</th>
                                          <th>Rating</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for i in ranks %}

                                      <tr class="odd gradeA">
                                          <td>{{i.rank}}</td>
                                          <td>{{i.name}}</td>
                                          <td>{{i.rating}}</td>

                                      </tr>
                                      {% endfor %}
                              </table>
                            </div>
                          </div>

                    </div>
          </div>
      </div>
          <!-- /. ROW  -->
  </div>

</div>
       <!-- /. PAGE INNER  -->
      </div>

    <script src="/static/programming/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/programming/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/programming/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="/static/programming/js/dataTables/jquery.dataTables.js"></script>
    <script src="/static/programming/js/dataTables/dataTables.bootstrap.js"></script>

         <!-- Custom Js -->
    <script src="/static/programming/js/custom-scripts.js"></script>
{% endblock %}
