<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Summary</title>
  </head>
  <body>
    {% for i in object_list%}
    Name: <a href="{% url 'studentsDetail' i.id %}">{{i.name}}</a>
    CodeChef: {{i.codechef}}
    CodeForces: {{i.codechef}}
    Year: {{i.year}}
    Groups:
    {% for j in i.groupid.all%}
      {{j.groupname}}
    {% endfor %}  <br>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="handle" value="{{i.codechef}}">
      <button type="submit" name="button">Update</button>
    </form>
    {% endfor%}
  </body>
</html>
